@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #E0E0E0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#navbar {
    background: #EBEBEB;
    font-size: 1.2rem;
    padding: 0.5em;
    height: 5vh;
}

.dbheader {
    margin: 20px;
    text-align: center;
}

.navbar_container {
    display: grid;
    grid-template-columns: 400px auto;
    justify-content: unset;
}

#hw3 {
    margin: 0;
    padding: 0;
}

#hw3 a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#navbar nav {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 4px;
}

#navbar_items a {
    text-decoration: none;
    color: black;
    padding: .1em 1em;
}

.auxbutton {
    display: none;
}

.hero_container {
    text-align: center;
    display: contents;
    height: 10%;
}

#map {
    visibility: hidden;
    height: 50vh;
}

#info p {
    text-align: left;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.info {
    background: #c1c1c1;
    display: none;
    height: 110px;
    padding: 0;
    margin: 0;
}

#airbnbtable {
    visibility: hidden;
}

.button_border {
    margin: 5px;
    border: 1px solid rgba(255, 0, 0, 0.3);
    border-radius: 4px;
}

.reset_button {
    margin: 5px;
    border: 1px solid #FF0000;
    border-radius: 4px;
}

.download_button {
    margin: 5px;
    border: 1px solid #000080;
    border-radius: 4px;
}

.button_container {
    width: 80%;
    height: 50vh;
    margin: 20px auto;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.upload_container {
    text-align: center;
    width: 50%;
    height: 40vh;
    margin: 20px auto;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdb314;
}

.read_container {
    text-align: center;
    width: 50%;
    height: 40vh;
    margin: 20px auto;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #66c7d0;
}

.upload-area {
    border: 2px dashed #fff;
    height: 30vh;
    width: 80%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-area.active {
    border: 2px solid #fff;
}

header {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.upload-area button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #fdb314;
    border-radius: 5px;
    cursor: pointer;
}

img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.read-area {
    border: 2px dashed #fff;
    height: 30vh;
    width: 80%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.read-area.active {
    border: 2px solid #fff;
}

.read-area button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #66c7d0;
    border-radius: 5px;
    cursor: pointer;
}